In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2

import os

In [21]:
# load your time histories into a Pandas DataFrame
df = pd.read_csv("ssw_events_saved/ssw_t0_1990-11-07.csv")

,dates,wind_eastward_mean,wind_eastward_mean_selection,temperature_mean_selection,SSW_,SSW_flag
0,1990-11-02,21.987702,-0.133783,201.257934,True,False
1,1990-11-03,22.768003,6.328132,202.733782,False,False
2,1990-11-04,22.882812,12.346213,204.040199,False,False
3,1990-11-05,23.099968,12.159567,203.209480,False,False
4,1990-11-06,23.567252,0.064688,203.191369,False,False
5,1990-11-07,23.437137,-3.927953,201.754840,True,True
6,1990-11-08,23.717214,-5.152857,202.056885,False,False
7,1990-11-09,23.790057,-4.859159,202.780538,False,False
8,1990-11-10,24.342352,-4.290960,202.792922,False,False
9,1990-11-11,24.451446,-2.078562,201.894276,False,False
10,1990-11-12,25.261054,3.203116,202.414235,False,False

In [22]:
# define your input variables and target variable
X = df[["temperature_mean_selection"]]
y = df["wind_eastward_mean_selection"]

In [27]:
# split your data into training and testing sets
train_size = int(0.8 * len(df))
X_train, X_test = X[:train_size], X[train_size:]
y_train, y_test = y[:train_size], y[train_size:]

# create a linear regression model
model = LinearRegression()

# train the model on the training data
model.fit(X_train, y_train)

# make predictions on the testing data
y_pred = model.predict(X_test)

# evaluate the performance of the model using the mean squared error
mse = mean_squared_error(y_test, y_pred)

r2 = r2_score(y_test, y_pred)

print("Mean squared error:", mse)

print('R2 value' , r2)
# use the model to make predictions on new data
X_new = pd.DataFrame({"temperature_mean_selection": [200, 200, 250]})
y_new = model.predict(X_new)

print("Predictions:", y_new)

Mean squared error: 19.490460276434256
R2 value -0.9720088021602049
Predictions: [-12.32816554 -12.32816554 262.22599819]

In [4]:
df = pd.concat(dfs, axis=0, ignore_index=True)

In [5]:
df['dates'] = pd.to_datetime(df['dates'])
df.sort_values(by='dates', ascending=True)

In [6]:
X = df[['dates', 'temperature_mean_selection', 'wind_eastward_mean']]  # input features
y = df['temperature_mean_selection']  # target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

         dates  temperature_mean_selection  wind_eastward_mean
150 2009-02-14                  219.803649           -1.315880
96  2000-12-18                  205.112371            9.167871
199 2008-03-19                  220.215958            2.598504
68  2006-02-08                  214.980223            4.622024
156 1994-11-21                  210.720174           17.472093
..         ...                         ...                 ...
106 1990-11-09                  202.780538           23.790057
14  2001-02-15                  228.401702           -4.917623
92  2000-12-14                  217.319883           13.859106
179 2009-02-01                  230.266164          -11.865084
102 1990-11-05                  203.209480           23.099968

[167 rows x 3 columns]

,dates,wind_eastward_mean,wind_eastward_mean_selection,temperature_mean_selection,SSW_,SSW_flag
99,1990-11-02,21.987702,-0.133783,201.257934,True,False
100,1990-11-03,22.768003,6.328132,202.733782,False,False
101,1990-11-04,22.882812,12.346213,204.040199,False,False
102,1990-11-05,23.099968,12.159567,203.209480,False,False
103,1990-11-06,23.567252,0.064688,203.191369,False,False
...,...,...,...,...,...,...
116,2013-01-12,-1.567858,-23.160652,239.919097,False,False
117,2013-01-13,-3.153333,-19.798027,242.057520,False,False
118,2013-01-14,-2.628961,-22.580194,233.999512,False,False
119,2013-01-15,-2.245817,-27.516686,230.411791,False,False
120,2013-01-16,-2.526766,-27.768821,231.272000,False,False

In [8]:
model = LinearRegression()
model.fit(X_train, y_train)

TypeError: The DType <class 'numpy.dtype[datetime64]'> could not be promoted by <class 'numpy.dtype[float64]'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtype[datetime64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[float64]'>)

In [ ]:
new_data = pd.DataFrame({
'dates': ['2023-04-01', '2023-04-02'], 
'temperature_mean_selection': [20.5, 22.0],
'wind_eastward_mean_selection': [15, 18]})

predictions = model.predict(new_data[['date', 'temperature_mean_selection', 'wind_eastward_mean_selection']])